Options -Indexes

<IfModule mod_headers.c>
    Header always set X-Robots-Tag "index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1"

    Header always set X-Content-Type-Options "nosniff"
    Header always set X-Frame-Options "SAMEORIGIN"
    Header always set Referrer-Policy "strict-origin-when-cross-origin"
    Header always set Permissions-Policy "camera=(), microphone=(), geolocation=()"
</IfModule>

<IfModule mod_mime.c>
    AddType application/javascript          .js
    AddType text/css                        .css
    AddType image/svg+xml                   .svg
    AddType application/manifest+json       .webmanifest
</IfModule>

<IfModule mod_deflate.c>
    AddOutputFilterByType DEFLATE text/html text/css application/javascript application/json image/svg+xml
</IfModule>

<IfModule mod_expires.c>
    ExpiresActive On
    ExpiresByType text/html                 "access plus 1 hour"
    ExpiresByType text/css                  "access plus 1 month"
    ExpiresByType application/javascript    "access plus 1 month"
    ExpiresByType image/png                 "access plus 6 months"
    ExpiresByType image/jpg                 "access plus 6 months"
    ExpiresByType image/jpeg                "access plus 6 months"
    ExpiresByType image/webp                "access plus 6 months"
    ExpiresByType image/svg+xml             "access plus 6 months"
    ExpiresByType application/manifest+json "access plus 1 week"
</IfModule>
